body {
  margin: 0px;
}

#bob {
  height: 830px;
  width: 640px;
  position: absolute;
  top: 0px;
  left:0px;
  z-index: -500;
  background: url('bob.png');
}

.off-screen {
  position: absolute;
  left: -9999px;
}

#scoreboard {
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  top: 185px;
  left: 669px;
}
